img.slide {
    filter: brightness(25%);
  }

.carousel-caption {
    top: 0;
    bottom: auto;
}

:is(h1, h2, h3, h4, h5, h6, a).alt-color{
    color: rgb(97, 131, 182);
}

body.alt-color{
    background-color: rgb(97, 131, 182);
}