*{
    font-family: Comfortaa, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: linear-gradient(to right bottom, #045962, #00d2e9);
    position: relative;
    padding-bottom: 15px;
}

body, html {
    min-height: 93vh; /* = 100vh - footer height */
    background-repeat: no-repeat;
}

nav{
    height: 61px; /* fixo */
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

label {
    display: block;
}

footer {
    position: absolute;
    bottom: -7vh;
    height: 7vh;
    width: 100%;
    background-color: #212529;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #f2f2f2;
    padding-top: 10px;
    margin: 0 auto;
}

.icon {
    filter: invert(65%);
    margin-left: 20px;
    width: 40px;
    transition-duration: 0.5s;
}

.icon:hover {
    filter: invert(80%);
    transition-duration: 0.5s;
}

.profile {
    font-size: 30px;
}

.search-bar {
    width: 50%;
}


@media screen and (max-width: 600px) {

.search-bar {
    width: 100%;
    margin-right: 5%;
}
}

.custom-shadow{
    box-shadow: 0 10px 15px black;
}

.btn-white{
    background-color: #ffffff
}

.form-control, .btn-white {
    box-shadow: none !important;
    outline: none !important;
}

.input-group{
    border-radius: 10px;
}

.rounded-left{
    border-radius: 10px 0 0 10px;
}

.rounded-right{
    border-radius: 0 10px 10px 0;
}

/* LOGIN */

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.container {
    color: #f2f2f2;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#remember {
    color: #f2f2f2;
}

/*
 * Card component
 */
.card {
    background-color: #212529;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    /* -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; */
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 30px 0px;
    padding: 20px;
}

.contato{
    background-color: #212529;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 30px 0px;
    padding: 40px;
    width: 50%;
    color: #f2f2f2;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(255, 255, 255);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(255, 255, 255);
}

/* LISTA */

.step-links{
    min-width: 100px;
}

.pagination{
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.lista {
    width: 70%;
}

.container-lista {
    display:flex;
    flex-direction: row;
    margin: auto;
    margin-top: 3%;
    justify-content: center;
}

.filter {
    background-color: #f2f2f200;
    border-radius: 30px 0px;
    margin-right: 2%;
    height: fit-content;
}

.flutuante {
    background-color: #f2f2f2;
    position: sticky;
    top: 5px;
    left: 5%;
    padding: 2%;
}

.disciplina {
    background-color: #212529;
    border-radius: 30px 0px;
    color: #f2f2f2;
    padding: 20px;
    margin-bottom: 10px;
}

.disciplina ul {
    list-style-type: none;
}

.disciplina-cartao {
    background-color: #212529;
    border-radius: 30px 0px;
    color: #f2f2f2;
    padding: 20px;
    margin-bottom: 10px;
    min-height: 200px;
}

.disciplina-cartao ul {
    list-style-type: none;
}

.disciplina-cartao:hover {
    box-shadow: 0 10px 15px black;
    transform: rotate(0.75deg);
    transition-duration: 300ms;
}

.cima {
    position: relative;
}

.direita {
    position: absolute;
    left: 90%;
    top:10%;
}

.baixo {
    position: absolute;
    top: 200%;
    background-color: #f2f2f2;
    border-radius: 10px 10px;
    padding: 10px 12px 10px 12px;
}

.baixo a {
    color: #212529;
}

.baixo a:hover {
    color: tomato;
}

/* DETAIL */

#cartao {
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.experience {
    background-color: #212529;
    border-radius: 30px 0px;
    margin-left: 20px;
}

.mini {
    background-color: #f2f2f2;
    color: #212529;
    border-radius: 30px 0px;
    padding: 10%;
    margin-bottom: 5%;   
}

.mini ul {
    list-style-type: none;
    padding-left:0px;
}

.link p{
    margin: auto
}

.link {
    text-align: center;
    background-color: #f2f2f2;
    color: #212529;
    border-radius: 15px 15px;
    padding: 5%;
    margin-bottom: 5%;
}

.link a {
    color: #212529;
}

.link:hover {
    text-decoration: none;
    color: #212529;
    box-shadow: 0 10px 15px black;
    transform: rotate(1deg);
    transition-duration: 300ms;
}

.nota{
    text-align: right;
}

hr {
    border: none;
    color:#f2f2f2;
    height: 2px;
}

#eval {
    color: #f2f2f2;
    background-color: #212529;
    border-radius: 30px 0px;
    padding: 20px;
    margin-bottom: 10px;
}


#submit_eval {
    text-align: center;
}

/* FORMS DE AVALIACAO */

#id_nota_1, #id_nota_2, #id_nota_3, #id_nota_4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

label{
    text-align: left;
}

.container-login {
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-login button {
    background-color: #f2f2f2;
    color: #212529;
    border-radius: 15px;
    padding: 5px 10px;
}

.container-login button:hover {
    box-shadow: 0 2px 4px #f2f2f2c4;
    transition-duration: 300ms;
}

.container-login a {
    margin-top: 5%;
    color: #f2f2f2;
}

.container-login a:hover {
    text-decoration: underline;
}