/* ESTILO SOMENTE PARA A PAGINA INCIAL */


/* alterando elementos basicos do html */

*{
    font-family: Comfortaa, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    height: 100vh;
}

body{
    height: 100%;
    background-image: linear-gradient(to right bottom, #045962, #00d2e9);
}

/* atualizando estilos do bootrstrap */

.form-control, .btn {
    box-shadow: none !important;
    outline: none !important;
}

.input-group{
    border-radius: 10px;
}

.rounded-left{
    border-radius: 10px 0 0 10px;
}

.rounded-right{
    border-radius: 0 10px 10px 0;
}

/* criando novo estilo */

.btn-white{
    background-color: #ffffff
}

.custom-shadow{
    box-shadow: 0 10px 15px black;
}

.logo{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
}
