{% extends 'base.html'%}

{% block title %}
Login
{% endblock title %}

{% block content %}

<div class="container">
    <div class="card card-container">
        <h2>Fazer cadastro</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Criar</button>
        </form>
        <!-- <a href="#" class="forgot-password">
            Esqueci minha senha
        </a> -->
        <a href="{% url 'login' %}" class="forgot-password">
            Já sou cadastrado
        </a>
        <P>{{ form.errors }}</P>
        <p>{{ form.non_field_errors }}</p>
    </div>
</div>

{% endblock %}