{% extends 'base.html'%}

{% block title %}
Login
{% endblock title %}

{% block content %}

<style>
    input{
        border:none;
        border-radius: 5px;
    }

    label{
    display: block;
    margin: 5px auto;
    }

    ul{
        list-style: none;
    }
</style>

<div class="container">
    <div class="col-10 card ">
        <h2 class="text-center">Fazer cadastro</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 d-inline-block">
                {% for field in form %}
                        <div class="fieldWrapper d-flex flex-column mb-3">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% if forloop.counter0 == 3 %}
                    </div>
                    <div class="col-md-6 d-inline-block">
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <button class="btn btn-outline-light my-2 algin-right" type="submit">Criar</button>
        </form>

        <a href="{% url 'login' %}" class="forgot-password">
            Já sou cadastrado
        </a>

        <P>{{ form.errors }}</P>
        <p>{{ form.non_field_errors }}</p>
    </div>
</div>

{% endblock %}