{% extends 'base.html'%}

{% block title %}
Login
{% endblock title %}

{% block content %}

<style>
    input{
        border:none;
        border-radius: 5px;
    }

    label{
    display: block;
    margin-bottom: 5px;
    }

    ul{
        list-style: none;
    }
</style>

<div class="container">
    <div class="col-10 card ">
        <h2>Fazer cadastro</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-light my-2" type="submit">Criar</button>
        </form>

        <a href="{% url 'login' %}" class="forgot-password">
            Já sou cadastrado
        </a>

        <P>{{ form.errors }}</P>
        <p>{{ form.non_field_errors }}</p>
    </div>
</div>

{% endblock %}