{% extends 'base.html'%}

{% block title %}
Login
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<p>Você não tem acesso a essa página!</p>
{% else %}
<div class="container-login">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="login">Entrar</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <a href="{% url 'signup' %}" class="forgot-password">
            Fazer cadastro
        </a>
    </div>
</div>
{% endif %}
{% endblock %}