{% extends 'base.html' %} 

{% block title %}
Sobre Nós
{% endblock title %}

{% block content %}
<style>
    .sobre {
        margin-top: 2%;
        margin-left: 15%;
        margin-right: 15%;
        background-color: #212529;
        padding: 3%;
        border-radius: 30px 0px;
    }

    .proposta {
        color: #f2f2f2;
    }

    .equipe {
        margin-top: 5%;
    }

    .equipe h2 {
        color: #f2f2f2;
    }

    .cartao {
        background-color: #212529;
        border-radius: 30px 0px;
        padding: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        text-align: center;
    }

    .cartao img {
        width: 60%;
        height: 60%;
        border-radius: 50%;
        margin: 0 auto;
    }

    .coluna {
        width: 25%;
    }

    .info {
        color: #f2f2f2;
    }
</style>
<div class="sobre">
    <div class="proposta">
        <h2>Nossa Proposta</h2>
        <p>     Olá! Seja bem vindo ao GraduatiOn. Nossa proposta é criar um ambiente para alunos contarem suas experiências com as disciplinas 
            que cursaram e para professores interagirem com os pensamentos dos estudantes sobre seus oferecimentos. Com isso, esperamos 
            auxiliar as próximas gerações com diversos relatos, a fim de construir um ambiente mais harmonioso e saudável.
        </p>
    </div>
    <div class="equipe">
        <h2>Nossa equipe</h2>
        <div class="row">
            <div class="coluna">
                <div class="cartao">
                    <img src="/static/azank.png" alt="Jane">
                    <div class="info">
                        <h4>Felipe Azank</h4>
                        <p class="title">Harverster</p>
                        <p>Co-founder</p>
                        <p>felipeazank@usp.br</p>
                    </div>
                </div>
            </div>

            <div class="coluna">
                <div class="cartao">
                <img src="/static/hammer.png" alt="Mike">
                    <div class="info">
                        <h4>Hassan Vilela</h4>
                        <p class="title">Hustler</p>
                        <p>Co-founder</p>
                        <p>hassan.vilela@usp.br</p>
                    </div>
                </div>
            </div>
        
            <div class="coluna">
                <div class="cartao">
                <img src="/static/cronos.png" alt="John">
                    <div class="info">
                        <h4>Pedro Rosa</h4>
                        <p class="title">Hacker</p>
                        <p>Co-founder</p>
                        <p>pedro_sxbr@usp.br</p>
                    </div>
                </div>
            </div>

            <div class="coluna">
                <div class="cartao">
                    <img src="/static/thales.png" alt="John">
                    <div class="info">
                        <h4>Thales Galanti</h4>
                        <p class="title">Hipster</p>
                        <p>Co-founder</p>
                        <p>ttravaglinigalanti@usp.br</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}