{% extends 'base.html' %} 
{% load static %}



{% block title %}
{{ disciplina.nome }}
{% endblock title %}


{% block content %}
<style>

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px;

}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.cursor {
    cursor: pointer
}

.caret-up:hover {
    color:#00d2e9;
}

.comment:hover {
    color:#00d2e9;
}

.caret-down:hover {
    color:#00d2e9;
}

.textarea {
    resize: none
}

.inf {
    margin-left: 5%;
}

.tudao {
    position: relative;
    box-shadow: black 0px 5px 5px;
    display:flex;
    border: solid #f2f2f2;
    border-radius: 30px 30px;
    width: 70%;
    padding: 2%;

}


.tudao img {
    width: 40px;
    height: 40px;
}

.icones {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.icons {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.oficial {
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.oficial p {
    margin-top: 5px;
    font-size: 14px;
}

.comentario {
    margin-top: 10px;
}

.icones {
    position: absolute;
    top: 10px;
    right: 10px;
}

</style>
<div id="cartao" class="row">
    <div class="col-lg-2 p-0">
        <div class="mini">
            <h2>
                Notas
            </h2>
            <div class="d-flex flex-row justify-content-between col-12">
                <ul class="col-6">
                    <li>Ensino:</li>
                    <li>Material:</li>
                    <li>Avaliações:</li>
                    <li>Dificuldade:</li>
                </ul>
                <ul class="col-6">
                    <li class="nota">{{ avaliacoes.nota_1__avg | floatformat:1 }}</li>
                    <li class="nota">{{ avaliacoes.nota_2__avg | floatformat:1 }}</li>
                    <li class="nota">{{ avaliacoes.nota_3__avg | floatformat:1 }}</li>
                    <li class="nota">{{ avaliacoes.nota_4__avg | floatformat:1 }}</li>
                </ul>
            </div>
        </div>
        <div class="links">
            <a href="{%url 'avaliacao' disciplina.slug %}">
                <div class="link">
                    <p>Fazer Avaliação</p>
                </div>
            </a>
            <a href="#">
                <div class="link">
                    <p>Ver Comentarios</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-9 experience">
        <div class="disciplina">
            <h2>
                {{ disciplina.nome }}
            </h2>
            <p class="align-justify">
                {{ disciplina.descricao }}
            </p>
        </div>
        <hr><hr>
        <div id="comentarios" class="disciplina">
            <h2>Comentários</h2>
            <div class="p-2">
                <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Comentar</button></div>
            </div>
            {% for comentario in lista_de_comentarios %}
            <div class="comentario">
                <div class="container">
                    <div class="">
                        <div class="">
                            <div class="tudao">
                                <div class="">
                                    <div class="d-flex"><img class="rounded-circle" src="{% static ''|add:comentario.autor.aluno.file_path %}">
                                        <div class="d-flex flex-column inf"><span class="name">{{ comentario.autor }}</span><span class="date">{{ comentario.data_de_criacao }}</span></div>
                                    </div>
                                    <div class="oficial">
                                        <p>{{ comentario.conteudo }}</p>
                                    </div>
                                </div>
                                <div class="icones d-flex flex-row">
                                    <div class="d-flex flex-row fs-12 icons">
                                        <div class="like cursor caret-up" title="curtir"><i class="fas fa-caret-up fa-3x"></i></div>
                                        {{ comentario.curtidas }}
                                        <div class="like cursor caret-down" title="descurtir"><i class="fas fa-caret-down fa-3x"></i></div>
                                        <div class="like cursor comment"><i class="fas fa-comment-alt fa-2x"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}