{% extends 'base.html' %} 
{% load static %}

{% block title %}
{{ disciplina.nome }}
{% endblock title %}

{% block script %}
<script src="{% static 'javascript/child_comments.js' %}"></script>
{% endblock script %}

{% block content %}

<style>

a{
    color: white;
    text-decoration: none;
}

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px;

}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.cursor {
    cursor: pointer
}

.caret-up:hover {
    color:#00d2e9;
}

.comment:hover {
    color:#00d2e9;
}

.caret-down:hover {
    color:#00d2e9;
}

.textarea {
    resize: none
}

.inf {
    margin-left: 5%;
}

.tudao {
    position: relative;
    box-shadow: black 0px 5px 5px;
    display:flex;
    border: solid #f2f2f2;
    border-radius: 30px 30px;
    width: 100%;
    padding: 2%;
}

.tudinho{
    width: 85%;
}

.tudao img {
    width: 40px;
    height: 40px;
}

.icones {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
}

.icons {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.oficial {
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.oficial p {
    margin-top: 5px;
    font-size: 14px;
}

.comentario {
    margin-top: 10px;
}

.icones {
    position: absolute;
    top: 10px;
    right: 10px;
}

.balao{
    margin-left: 15px;
}

.likes{
    margin: 0 auto;
}

.esq{
    position: sticky;
    top: 12px;
}

</style>
<div id="cartao" class="row">

    <!-- Seção Lateral Esquerda -->
    <div class="col-lg-2 p-0 esq">
        <div class="esq">
            <div class="mini">
                <h2>
                    Notas
                </h2>
                <div class="d-flex flex-row justify-content-between col-12">
                    <!-- Labels -->
                    <ul class="col-6">
                        <li>Ensino:</li>
                        <li>Material:</li>
                        <li>Avaliações:</li>
                        <li>Dificuldade:</li>
                    </ul>

                    <!-- Valores -->
                    <ul class="col-6">
                        <li class="nota">{{ avaliacoes.nota_1__avg | floatformat:1 }}</li>
                        <li class="nota">{{ avaliacoes.nota_2__avg | floatformat:1 }}</li>
                        <li class="nota">{{ avaliacoes.nota_3__avg | floatformat:1 }}</li>
                        <li class="nota">{{ avaliacoes.nota_4__avg | floatformat:1 }}</li>
                    </ul>
                </div>
            </div>

            <!-- Links -->
            <div class="links">
                <a href="{%url 'avaliacao' disciplina.slug %}">
                    <div class="link">
                        <p>Fazer Avaliação</p>
                    </div>
                </a>
                <a href="#">
                    <div class="link">
                        <p>Ver Comentarios</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Seção Lateral Direita -->
    <div class="col-lg-9 experience">

        <!-- Dados da Disciplina -->
        <div class="disciplina">
            <h2>
                {{ disciplina.nome }}
            </h2>
            <p class="align-justify">
                {{ disciplina.descricao }}
            </p>
        </div>

        <hr><hr>

        <!-- Seção de Comentarios -->
        <div id="comentarios" class="disciplina">
            <h2>Comentários</h2>

            <!-- Comentario Creation Form -->
            <form method="POST" class="mx-2" action="{% url 'post_comment' disciplina.slug %}">
                {% csrf_token %}
                {{ comentario_form.as_p }}
                <button class="btn btn-primary" type="submit">Criar</button>
            </form>

            <!-- Visualização de Comentarios -->
            {% for comentario in lista_de_comentarios %}
            <div class="comentario">
                <div class="container">
                    <div class="tudao">
                        <div class="">
                            <div class="d-flex"><img class="rounded-circle" src="{% static ''|add:comentario.autor.aluno.file_path %}">
                                <div class="d-flex flex-column inf"><span class="name">{{ comentario.autor }}</span><span class="date">{{ comentario.data_de_criacao |date:"d M Y \à\s H:i" }}</span></div>
                            </div>
                            <div class="oficial">
                                <p>{{ comentario.conteudo }}</p>
                            </div>
                        </div>
                        <div class="icones d-flex flex-row">
                            <div class="d-flex flex-row fs-12 icons">
                                <a href="{% url 'likeview' comentario.id 'like' %}"><div class="like cursor caret-up" title="curtir"><i class="fas fa-caret-up fa-3x"></i></div></a>
                                {% if comentario.get_total_likes %}
                                    <p class="likes">{{ comentario.get_total_likes }}</p>
                                {% else %}
                                    <p class="likes"> 0 </p>
                                {% endif %}
                                <a href="{% url 'likeview' comentario.id 'dislike' %}"><div class="like cursor caret-down" title="descurtir"><i class="fas fa-caret-down fa-3x"></i></div></a>
                                <a id="form-{{ forloop.counter0 }}" onclick="myFunc(this)"><div class="like cursor comment"><i class="balao fas fa-comment-alt fa-2x"></i></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comentario Escondido Creation Form -->
            <form method="POST" style="display: none;" id="hidden-{{ forloop.counter0 }}" class="mx-2 hidden-form" action="{% url 'post_comment_a' disciplina_slug=disciplina.slug parent_id=comentario.id %}">
                {% csrf_token %}
                {{ comentario_form.as_p }}
                <button class="btn btn-primary" type="submit">Criar</button>
            </form>

            <!-- Visualização de Comentarios Aninhados -->
            {% if comentario.comentario_set.all %}
                {% for comentario_filho in comentario.comentario_set.all %}
                    <div class="comentario">
                        <div class="container d-flex justify-content-end">
                            <div class="tudao tudinho">
                                <div class="">
                                    <div class="d-flex"><img class="rounded-circle" src="{% static ''|add:comentario_filho.autor.aluno.file_path %}">
                                        <div class="d-flex flex-column inf"><span class="name">{{ comentario_filho.autor }}</span><span class="date">{{ comentario_filho.data_de_criacao }}</span></div>
                                    </div>
                                    <div class="oficial">
                                        <p>{{ comentario_filho.conteudo }}</p>
                                    </div>
                                </div>
                                <div class="icones d-flex flex-row">
                                    <div class="d-flex flex-row fs-12 icons">
                                        <a href="{% url 'likeview' comentario_filho.id 'like' %}"><div class="like cursor caret-up" title="curtir"><i class="fas fa-caret-up fa-3x"></i></div></a>
                                        {% if comentario_filho.get_total_likes %}
                                            <p class="likes">{{ comentario_filho.get_total_likes }}</p>
                                        {% else %}
                                            <p class="likes"> 0 </p>
                                        {% endif %}
                                        <a href="{% url 'likeview' comentario_filho.id 'dislike' %}"><div class="like cursor caret-down" title="descurtir"><i class="fas fa-caret-down fa-3x"></i></div></a>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}