{% extends 'base.html'%}

{% block title %}
Sobre nós
{% endblock title %}

{% block content %}
    <div class=lista>
        <h2>Resultados para "{{ request.GET.query }}"</h2>        
        {% for disciplina in lista_disciplinas %}
        <div class = disciplina>
            <div class="cima">
                <div class="esquerda">
                    <h2>{{ disciplina.nome }}</h2>
                </div>
                <div class="direita">
                    <h6>{{ disciplina.nota }}</h6>
                    <h6>{{ disciplina.departamento }}</h6>
                    <h6><a href="{% url 'subject' disciplina.slug %}">Leia Mais</a></h6>
                </div>
            </div>
            <ul>
                {% for professor in disciplina.professores %}
                <li>{{ professor.nome }}</li>
                {% endfor %}
            </ul>
            <p>{{ disciplina.descricao }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}