{% extends 'base.html'%}

{% block title %}
Sobre nós
{% endblock title %}

{% block content %}
    <br>
    <br>
    <div class=lista>
        <h2>Resultados para "query"</h2>
        <br>
        <div class = disciplina>
            <div class="cima">
                <div class="esquerda">
                    <h2>Eletrônica Digital</h2>
                </div>
                <div class="direita">
                    <h6>1.9/5</h6>
                    <h6>PMR3303</h6>
                    <div class="baixo">
                        <a href="#">Detalhes...</a>
                    </div>
                </div>
            </div>
            <ul>
                <li>Furukawa</li>
                <li>Diolino</li>
            </ul>
            <p>A disciplina de eletrônica digital para a engenharia mecatrônica busca aprofundar os conhecimentos sobre...</p>
        </div>
        <div class = disciplina>
            <div class="cima">
                <div class="esquerda">
                    <h2>Eletrônica Analógica</h2>
                </div>
                <div class="direita">
                    <h6>2.1/5</h6>
                    <h6>PMR3308</h6>
                    <div class="baixo">
                        <a href="#">Detalhes...</a>
                    </div>
                </div>
            </div>
            <ul>
                <li>Arturo</li>
                <li>Pai</li>
            </ul>
            <p>A disciplina de eletrônica analógica para a engenharia mecatrônica busca aprofundar os conhecimentos sobre...</p>
        </div>
        <div class = disciplina>
            <div class="cima">
                <div class="esquerda">
                    <h2>Eletrônica de Potência I</h2>
                </div>
                <div class="direita">
                    <h6>3.4/5</h6>
                    <h6>PEA3487</h6>
                    <div class="baixo">
                        <a href="#">Detalhes...</a>
                    </div>
                </div>
            </div>
            <ul>
                <li>Walter</li>
                <li>Wilson</li>
            </ul>
            <p>A disciplina de eletrônica de potência I busca aprofundar os conhecimentos sobre...</p>
        </div>
        {% for disciplina in lista_disciplinas %}
        <div class = disciplina>
            <div class="cima">
                <div class="esquerda">
                    <h2>{{ disciplina.nome }}</h2>
                </div>
                <div class="direita">
                    <h6>{{ disciplina.nota }}</h6>
                    <h6>{{ disciplina.departamento }}</h6>
                </div>
            </div>
            <ul>
                {% for professor in disciplina.professores %}
                <li>{{ professor.nome }}</li>
                {% endfor %}
            </ul>
            <p>{{ disciplina.descricao }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}