{% extends 'base.html' %} 

{% block title %}
Meu Perfil
{% endblock title %}

{% block content %}

<h1> Detalhes do Perfil </h1>
<ul>
    <li>Nome de usuário: {{ aluno.nome }}</li>
    <li>Departamento: {{ aluno.departamento }} </li>
    <li>Data de Nascimento: {{ aluno.data_de_nascimento}}</li>
    <li>Ano de ingrsso: {{ aluno.ano_de_ingresso }}</li>
    <li>Lista de Disciplinas já avaliou: {{ aluno.disciplina.all|join:", " }}</li>


</ul>

<a href="{% url 'logout' %}">Fazer logout</a>

{% endblock content %}